<section class="section is-medium">
  <div class="container">
    <div class="columns is-vcentered is-centered">
      <div class="column is-narrow">
        <h2 class="title has-text-centered">Edit account</h2>
        <form class="box" [formGroup]="accountEditorForm" (ngSubmit)="update(editedAccount)">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" id="name" formControlName="name" type="text">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-success" type="submit">Save</button>
            </div>
            <div class="control">
              <button class="button is-success is-outlined" type="button" (click)="cancel()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>