<section class="section is-medium">
    <div class="container">
      <div class="columns is-vcentered is-centered">
        <div class="column is-narrow">
          <h2 class="title has-text-centered">Edit transaction</h2>
          <form class="box" [formGroup]="transactionEditorForm" (ngSubmit)="update(editedTransaction)">
            <label class="label">Amount</label>
            <div class="field has-addons">
              <div class="control">
                <input class="input" id="amount" formControlName="amount" type="number">
              </div>
              <div class="control">
                <a class="button is-static">
                    PLN
                  </a>
              </div>
            </div>
            <div class="field">
              <label class="label">Date</label>
              <div class="control">
                <input class="input" id="date" formControlName="date" type="date">
              </div>
            </div>
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                  <input class="input" id="description" formControlName="description" type="text">
                </div>
              </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-success" type="submit">Save</button>
              </div>
              <div class="control">
                <button class="button is-success is-outlined" type="button" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>