<nav class="navbar is-fixed-bottom" role="navigation" aria-label="secondary navigation">
    <div class="tabs is-centered is-toggle">
        <ul>
            <li>
                <a>
                    <span class="icon is-small has-text-info"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                    <span>Envelopes</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon is-small has-text-success"><i class="fas fa-money-bill-alt"
                            aria-hidden="true"></i></span>
                    <span>Accounts</span>
                </a>
            </li>
        </ul>
    </div>
</nav>