<section class="section is-medium">
  <div class="container">
    <div class="columns is-vcentered is-centered">
      <div class="column is-narrow">
        <h2 class="title has-text-centered">Register</h2>
        <form class="box" [formGroup]="signupForm" (ngSubmit)="signup()">
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" id="email" formControlName="email" type="email">
            </div>
            <p class="help is-danger" *ngIf="email.invalid && email.touched">This email is invalid</p>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" id="password" formControlName="password" type="password">
            </div>
          </div>

          <button class="button is-warning">Sign up</button>
        </form>
      </div>
    </div>
    <div class="columns is-vcentered is-centered">
      <div class="notification is-danger" *ngIf="isShowingRegistrationErrorNotification">
        <button class="delete" (click)="closeNotification()"></button>
        Registration failed! Please try again
      </div>
    </div>
  </div>
</section>